

.postList {

  margin: 5rem auto 0;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 1rem;
      border-top: 1px solid var(--gray-700);

    }

    time, span {
      margin-top: 1rem;
      font-size: 0.93333rem;
      display: flex;
      align-items: center;
      color: var(--gray-70);
      padding-right: 1.2rem ;

      svg {
        margin-right: 0.3rem;
        color: var(--white);

      }

    }

    strong {
      display: block;
      font-size: 2rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
    }

    &:hover strong {
      color: var(--pink-500);
    }
    sub {
      display: block;
      font-size: 1.3rem;
      margin-top: 0.4rem;
      line-height: 2rem;
      color: var(--gray-60);

    }

    p{
      color: var(--gray-300);
      margin-top: 0.5rem;
      line-height: 1.625rem;

    }
  }
}

.info {
  display: flex;
}

.buttonPosts {
  border: 0;
  background: transparent;
  color: var(--pink-500);
  margin-top: 4rem;
    font-size: 1.125rem;
    font-weight: 600;
}

