.banner {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: center;
  background: var(--gray-800);
 img {
   width: auto;
   height: 400px;

 }
}
.post {
  h2 {
    font-size: 2.25rem;
    margin: 3rem 0;
  }
  p, span, a, ul {
    font-size: 1.125rem;
    line-height: 1.8;
    margin: 1.8rem 0;
  }
  strong {
    font-weight: 700;

  }
  ul {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
    li {
      margin: 0.5rem 0;
    }
  }
}

.info {
  display: flex;
  time, span {
    margin-top: 1rem;
    font-size: 0.93333rem;
    display: flex;
    align-items: center;
    color: var(--gray-70);
    padding-right: 1.2rem ;

    svg {
      margin-right: 0.3rem;
      color: var(--white);

    }
  }
}

.postTop {

  > h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    align-items: center;
    align-content: center;
    //margin-bottom: 4rem;
    & li {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 0.875rem;

      & svg {
        margin-right: 0.5rem;


      }
      & + li {
        margin-left: 1.625rem;

      }
    }

  }
}
